<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
		<title>用户管理</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='/admin/component/pear/css/pear.css') }}" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="user-query-form">
            <div class="layui-form-item">
                <label class="layui-form-label">用户</label>
                <div class="layui-input-inline">
                    <input type="text" name="realName" placeholder="" class="layui-input">
                </div>
                <label class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
    <div class="user-left user-collasped">
        <div class="layui-card">
            <div class="layui-card-body">
                <div style="overflow: auto">
                    <ul id="dept-tree" class="dept-tree" data-id="0"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="user-main user-collasped">
        <div class="layui-card">
            <div class="layui-card-body">
                <table id="user-table" lay-filter="user-table"></table>
            </div>
        </div>
    </div>
</body>

<script type="text/html" id="user-toolbar">
    {% if authorize("admin:user:add") %}
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="pear-icon pear-icon-add"></i>
        新增
    </button>
    {% endif %}
      {% if authorize("admin:user:remove") %}
    <button class="pear-btn pear-btn-md" lay-event="batchRemove">
        <i class="pear-icon pear-icon-ashbin"></i>
        删除
    </button>
{% endif %}
</script>

<script type="text/html" id="user-bar">
     {% if authorize("admin:user:edit") %}
    <button  class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="pear-icon pear-icon-edit"></i>
    </button>
     {% endif %}
      {% if authorize("admin:user:remove") %}
    <button  class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="pear-icon pear-icon-ashbin"></i>
    </button>
{% endif %}
</script>

<script type="text/html" id="user-enable">
    <input type="checkbox" name="enable" value="{{"{{ d.id }}"}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable"
           {{"{{# if(d.enable==1){ }} checked {{# } }}"}} />
</script>

<script type="text/html" id="user-createTime">
    {{'  {{layui.util.toDateString(d.create_at,  "yyyy-MM-dd HH:mm:ss")}' |safe}}}
</script>
<script type="text/html" id="user-updateTime">
    {{'  {{layui.util.toDateString(d.update_at,  "yyyy-MM-dd HH:mm:ss")}' |safe}}}
</script>
<script src="{{ url_for('static', filename='/admin/component/layui/layui.js') }}"></script>
<script src="{{ url_for('static', filename='/admin/component/pear/pear.js') }}"></script>
<script>
    layui.use(['table','form', 'jquery','popup','common'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let popup = layui.popup;

        let MODULE_PATH = "/admin/user/";

        let cols = [
            [
                 {% if authorize("admin:user:remove") %}
                {type: 'checkbox'},
                {% endif %}
                {title: '姓名', field: 'realname', align: 'center', width: 110},
                {title: '账号', field: 'username', align: 'center'},
                {title: '启用', field: 'enable', align: 'center', templet: '#user-enable',width: 120},
                {title: '注册时间', field: 'create_at', templet: '#user-createTime', align: 'center'},
                {title: '更新时间', field: 'update_at', templet: '#user-updateTime', align: 'center'},
                {title: '操作', toolbar: '#user-bar', align: 'center', width: 130}
            ]
        ]

        table.render({
            elem: '#user-table',
            url: MODULE_PATH + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            height: 'full-148',
            toolbar: '#user-toolbar',
            text: {none: '暂无人员信息'},
            defaultToolbar: [{layEvent: 'refresh', icon: 'layui-icon-refresh'}, 'filter', 'print', 'exports']
        });





        $(".user-group").click(function(){
            let group =  $(this).attr("user-group");
            let field = form.val("user-query-form");
            if(group==="-1"){
                field.deptId = group;
                $(this).removeClass("button-default");
                $(this).prev().removeClass("button-primary");
                $(this).prev().addClass("button-default");
                $(this).addClass("button-primary");
            }else{
                field.deptId = group;
                $(this).removeClass("button-default");
                $(this).next().removeClass("button-primary");
                $(this).next().addClass("button-default");
                $(this).addClass("button-primary");
            }
            window.refresh(field);
        })

        table.on('tool(user-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(user-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            } else if(obj.event == 'collasped'){
                $(".user-left").toggleClass("user-collasped");
                $(".user-main").toggleClass("user-collasped");
                table.resize();
            }
        });

        form.on('submit(user-query)', function (data) {
            window.refresh(data.field);
            return false;
        });

        form.on('switch(user-enable)', function (obj) {
            let operate;
            if (obj.elem.checked) {
                operate = "enable";
            } else {
                operate = "disable";
            }
            let loading = layer.load();
            $.ajax({
                url: '/admin/user/' + operate,
                data: JSON.stringify({userId: this.value}),
                dataType: 'json',
                contentType: 'application/json',
                type: 'put',
                success: function (result) {
                    layer.close(loading);
                    if (result.success) {
                        popup.success(result.msg);
                    } else {
                        popup.failure(result.msg);
                    }
                }
            })
        });

        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['550px', '550px'],
                content: MODULE_PATH + 'add'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['550px', '500px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该用户', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove/" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            popup.success(result.msg,function(){
                                obj.del();
                            });
                        } else {
                            popup.failure(result.msg);
                        }
                    }
                })
            });
        }

          window.batchRemove = function(obj) {
                    let data = table.checkStatus(obj.config.id).data;
                    if (data.length === 0) {
                        layer.msg("未选中数据", {
                            icon: 3,
                            time: 1000
                        });
                        return false;
                    }
                    var ids = []
                    var hasCheck = table.checkStatus('user-table')
                    var hasCheckData = hasCheck.data
                    if (hasCheckData.length > 0) {
                        $.each(hasCheckData, function (index, element) {
                            ids.push(element.id)
                        })
                    }
                    console.log(ids)
                    layer.confirm('确定要删除选中角色', {
                        icon: 3,
                        title: '提示'
                    }, function(index) {
                        layer.close(index);
                        let loading = layer.load();
                       $.ajax({

                           url: MODULE_PATH + "batchRemove",
                           data: {ids:ids},
                           dataType: 'json',
                            type: 'delete',
                            success: function (result) {
                                layer.close(loading);
                                if (result.success) {
                                    popup.success(result.msg, function () {
                                        table.reload('role-table');
                                    });
                                } else {
                                    popup.failure(result.msg);
                                }
                            }
                        })
                    });
                }

        window.refresh = function (param) {
            table.reload('user-table', {where: param});
        }
    })
</script>
</html>