<!DOCTYPE html>
<html>
<head>
    <title>权限</title>
    {% include 'common/header.html' %}
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">权限名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="powerName" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="power_query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="power_table" lay-filter="power_table"></table>
    </div>
</div>

<script type="text/html" id="power-toolbar">
    {% if authorize("admin:power:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("admin:role:remove") %}
        <button class="pear-btn pear-btn-md" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    {% endif %}
</script>

<script type="text/html" id="power-bar">
    {% if authorize("admin:role:edit") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                class="layui-icon layui-icon-edit"></i>
        </button>
    {% endif %}
    {% if authorize("admin:role:remove") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                class="layui-icon layui-icon-delete"></i>
        </button>
    {% endif %}
</script>

<script type="text/html" id="power-type">
    {{ "
    {{#if (d.powerType == '0') { }}
    <span>目录</span>
    {{# }else if(d.powerType == '1'){ }}
    <span>菜单</span>
    {{# }else if(d.powerType == '2'){ }}
    <span>按钮</span>
    {{# } }}

    " |safe }}

</script>

<script type="text/html" id="power_enable">
    <input type="checkbox" name="enable"
           value="{{ "{{d.powerId}}" }}" lay-skin="switch" lay-text="启用|禁用"
           lay-filter="power_enable"  {{ "{{# if(d.enable==1){ }} checked {{# } }}" }}>
</script>

<script type="text/html" id="icon">
    <i class="layui-icon {{ "{{d.icon}}" }}"></i>
</script>

</body>

<form id="add_view" class="layui-form" action="" style="display: none">
    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    <label class="layui-form-label">父级</label>
                    <div class="layui-input-block">
                        <ul id="select_parent_dept" name="parentId" class="dtree" data-id="-1"></ul>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="powerName" lay-verify="title" autocomplete="off" placeholder="权限名称"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="powerCodeItem">
                    <label class="layui-form-label">标识</label>
                    <div class="layui-input-block">
                        <input type="text" id="powerCode" name="powerCode" autocomplete="off" placeholder="权限标识"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="powerType" name="powerType" value="0" title="目录">
                        <input type="radio" lay-filter="powerType" name="powerType" value="1" title="菜单" checked>
                        <input type="radio" lay-filter="powerType" name="powerType" value="2" title="按钮">
                    </div>
                </div>
                <div class="layui-form-item" id="powerUrlItem">
                    <label class="layui-form-label">路径</label>
                    <div class="layui-input-block">
                        <input type="text" id="powerUrl" name="powerUrl" autocomplete="off" placeholder="菜单路径"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item" id="openTypeItem">
                    <label class="layui-form-label">打开</label>
                    <div class="layui-input-block">
                        <select name="openType" id="openType">
                            <option value=""></option>
                            <option value="_iframe">框架</option>
                            <option value="_blank">签页</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">图标</label>
                    <div class="layui-input-block">
                        <input type="text" id="add_icon" name="icon" lay-filter="icon" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort" lay-verify="title" autocomplete="off" placeholder="排序"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="power-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>

{% include 'common/footer.html' %}
<script>
  layui.use(['table', 'form', 'jquery', 'treetable', 'popup'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery
    let treetable = layui.treetable
    let popup = layui.popup

    let MODULE_PATH = '/rights/'

    window.render = function () {
      treetable.render({
        treeColIndex: 1,
        treeSpid: 0,
        treeIdName: 'powerId',
        treePidName: 'parentId',
        skin: 'line',
        method: 'post',
        treeDefaultClose: true,
        toolbar: '#power-toolbar',
        elem: '#power_table',
        url: '{{ url_for('rights.data') }}',
        page: false,
        cols: [
          [
            {% if authorize("admin:role:remove") %}
              { type: 'checkbox' },
            {% endif %}
            { field: 'powerName', minWidth: 200, title: '权限名称' },
            { field: 'icon', title: '图标', templet: '#icon' },
            { field: 'powerType', title: '权限类型', templet: '#power-type' },
            { field: 'enable', title: '是否可用', templet: '#power-enable' },
            { field: 'sort', title: '排序' },
            { title: '操作', templet: '#power-bar', width: 150, align: 'center' }
          ]
        ]
      })
    }

    render()

    form.on('submit(power_query)', function (data) {
      var keyword = data.field.powerName
      var $tds = $('#power_table').next('.treeTable').find('.layui-table-body tbody tr td')
      if (!keyword) {
        $tds.css('background-color', 'transparent')
        layer.msg('请输入关键字', { icon: 5 })
        return
      }
      var searchCount = 0
      $tds.each(function () {
        $(this).css('background-color', 'transparent')
        if ($(this).text().indexOf(keyword) >= 0) {
          $(this).css('background-color', 'rgba(250,230,160,0.5)')
          if (searchCount === 0) {
            $('body,html').stop(true)
            $('body,html').animate({ scrollTop: $(this).offset().top - 150 }, 500)
          }
          searchCount++
        }
      })
      if (searchCount === 0) {
        layer.msg('没有匹配结果', { icon: 5 })
      } else {
        treetable.expandAll('#power_table')
      }
      return false
    })

    table.on('tool(power_table)', function (obj) {
      if (obj.event === 'remove') {
        window.remove(obj)
      } else if (obj.event === 'edit') {
        window.edit(obj)
      }
    })

    table.on('toolbar(power_table)', function (obj) {
      if (obj.event === 'add') {
        window.add()
      } else if (obj.event === 'refresh') {
        window.refresh()
      } else if (obj.event === 'batchRemove') {
        window.batchRemove(obj)
      }
    })

    form.on('switch(power-enable)', function (obj) {
      let operate
      if (obj.elem.checked) {
        operate = 1  /*启用*/
      } else {
        operate = 0  /*禁用*/
      }
      let loading = layer.load()
      $.ajax({
        url: MODULE_PATH + 'enable',
        data: JSON.stringify({ powerId: this.value, operate: operate }),
        dataType: 'json',
        contentType: 'application/json',
        type: 'put',
        success: function (result) {
          layer.close(loading)
          if (result.success) {
            popup.success(result.msg)
          } else {
            popup.failure(result.msg)
          }
        }
      })
    })

    window.add = function () {
      layer.open({
        type: 1,
        title: '新增',
        shade: 0.1,
        area: ['450px', '500px'],
        content: $('#add_view')
      })
    }

    window.edit = function (obj) {
      layer.open({
        type: 2,
        title: '修改',
        shade: 0.1,
        area: ['450px', '500px'],
        content: MODULE_PATH + 'power/' + obj.data['powerId']
      })
    }
    window.remove = function (obj) {
      layer.confirm('确定要删除该权限', { icon: 3, title: '提示' }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: MODULE_PATH + 'power/' + obj.data['powerId'],
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                console.log(obj)
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }

    window.batchRemove = function (obj) {
      let data = table.checkStatus(obj.config.id).data
      if (data.length === 0) {
        layer.msg('未选中数据', {
          icon: 3,
          time: 1000
        })
        return false
      }
      var ids = []
      var hasCheck = table.checkStatus('power_table')
      var hasCheckData = hasCheck.data
      if (hasCheckData.length > 0) {
        $.each(hasCheckData, function (index, element) {
          ids.push(element.id)
        })
      }
      layer.confirm('确定要删除选中权限', {
        icon: 3,
        title: '提示'
      }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: MODULE_PATH + 'batchRemove',
          data: { ids: ids },
          dataType: 'json',
          type: 'delete',
          success: function (result) {
            layer.close(loading)
            if (result.success) {
              popup.success(result.msg, function () {
                console.log(obj)
                obj.del()
              })
            } else {
              popup.failure(result.msg)
            }
          }
        })
      })
    }
  })
</script>
{#添加权限数据页面#}
<script>
  layui.use(['form', 'jquery', 'iconPicker', 'dtree'], function () {
    let form = layui.form
    let $ = layui.jquery
    let iconPicker = layui.iconPicker
    let dtree = layui.dtree

    dtree.renderSelect({
      elem: '#select_parent_dept',
      url: '{{ url_for('rights.select_parent') }}',
      method: 'get',
      selectInputName: { nodeId: 'parentId', context: 'powerName' },
      skin: 'layui',
      dataFormat: 'list',
      response: { treeId: 'powerId', parentId: 'parentId', title: 'powerName' },  //修改response中返回数据的定义
      selectInitVal: '0'
    })

    form.on('radio(powerType)', function () {
      if (this.value == '0') {
        $('#powerUrlItem').hide()
        $('#powerCodeItem').hide()
        $('#openTypeItem').hide()
        $('#powerUrl').val('')
        $('#powerCode').val('')
        $('#openType').val('')
      } else if (this.value == '1') {
        $('#powerUrlItem').show()
        $('#powerCodeItem').show()
        $('#openTypeItem').show()
      } else if (this.value == '2') {
        $('#powerUrlItem').hide()
        $('#openTypeItem').hide()
        $('#powerCodeItem').show()
        $('#powerUrl').val('')
        $('#openType').val('')
      }
    })

    form.on('submit(power-save)', function (data) {
      data.field.icon = 'layui-icon ' + data.field.icon
      $.ajax({
        url: '/rights/power',
        data: JSON.stringify(data.field),
        dataType: 'json',
        contentType: 'application/json',
        type: 'post',
        success: function (result) {
          if (result.success) {
            layer.msg(result.msg, { icon: 1, time: 1000 }, function () {
              layer.close(layer.index)  // 关闭当前页
              location.reload()
            })
          } else {
            layer.msg(result.msg, { icon: 2, time: 1000 })
          }
        }
      })
      return false
    })

    iconPicker.render({
      // 选择器，推荐使用input
      elem: '#add_icon',
      // 数据类型：fontClass/unicode，推荐使用fontClass
      type: 'fontClass',
      // 是否开启搜索：true/false
      search: true,
      // 是否开启分页
      page: true,
      // 每页显示数量，默认12
      limit: 12,
      // 点击回调
      click: function (data) {
        console.log(data)
      }
    })
  })
</script>
</html>